<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Organize</title>


    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.js"
        }
      }
    </script>
  </head>

  <body>
    <div id="app">
      <h2>Humains</h2>
      <human v-for="human in humans" :data="human" :key="human.id"></human>

      <h2>Missions</h2>
      <pending-mission v-for="pendingMission in pendingMissions" :data="pendingMission" :key="pendingMission.id"></pending-mission>

      <h2>Ressources</h2>
      <ol>
        <resource
          v-for="resource in resources"
          :data="resource"
          :key="resource.id"
        ></resource>
      </ol>
    </div>

    <script type="module" src="app.js"></script>
  </body>
</html>
