<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Organize</title>


    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.js"
        }
      }
    </script>
  </head>

  <body>
    <div id="app">
      <button @click="nextDay">Passer à la journée suivante</button>

      <ul v-if="messages.length > 0">
        <li v-for="message in messages">{{ message }}</li>
      </ul>
      <h2>Humains</h2>
      <human v-for="human in humans" :data="human" :key="human.id"></human>

      <h2>Missions</h2>
      <pending-mission
        v-for="pendingMission in pendingMissionsVisible"
        :mission="pendingMission.mission"
        :humans="humans"
        :id="pendingMission.id"
        :key="pendingMission.id"
      ></pending-mission>

      <h2>Ressources</h2>
      <ol>
        <resource
          v-for="resource in resources"
          :data="resource"
          :key="resource.id"
        ></resource>
      </ol>
    </div>

    <script type="module" src="app.js"></script>
  </body>
</html>
