<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Organize</title>


    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.js"
        }
      }
    </script>

    <style>
      .invalid {
        color: red
      }
    </style>
  </head>

  <body>
    <div id="app">
      <button @click="save">Enregistrer</button>
      <button @click="load">Charger</button>


      <ul v-if="messages.length > 0">
        <li v-for="message in messages">{{ message }}</li>
      </ul>
      <h2>Humains</h2>
      <human
        v-for="human in humans"
        :id="human.id"
        :name="human.name"
        :assignment="human.assignment"
        :pending-missions="pendingMissions"
        :starving="human.starving"
        :key="human.id"
        @unassign="unassign">
      </human>

      <h2>Missions</h2>
      <mission
        v-for="pendingMission in pendingMissionsVisible"
        :id="pendingMission.id"
        :mission="pendingMission.mission"
        :humans="humans"
        :participants="pendingMission.participants"
        :valid="pendingMission.valid"
        :key="pendingMission.mission.name"
        @assign="assign"
        @unassign="unassign"
      ></mission>

      <h2>Ressources</h2>
      <ol>
        <resource
          v-for="resource in visibleResources"
          :data="resource"
          :key="resource.id"
        ></resource>
      </ol>

      <button @click="nextDay" :disabled="!canMoveToNextDay">Passer à la journée suivante</button>

    </div>

    <script type="module" src="app.js"></script>
  </body>
</html>
