<h2>Humans</h2>
{% for human in humans %}
  <div>
    <p>Nom : {{ human.name }}</p>
  </div>
{% endfor %}

<h2>Buildings</h2>
{% for building in buildings %}
{% if building.displayable %}
  <div>
    <p>Nom : {{ building.name }}</p>
  </div>
{% endif %}
{% endfor %}

<h2>Missions</h2>
{% for pendingMission in pendingMissions %}
<div>
  <p>Mission : {{ pendingMission.mission.name }}</p>
  <ul>
  {% for human in pendingMission.participants %}
    <li>{{ human.name }}</li>
  {% endfor %}
  {% if pendingMission.canAddParticipants %}
    <li>
      <select>
        <option>--</option>
        {% for human in pendingMission.potentialParticipants() %}
        <option>{{ human.name }}</option>
        {% endfor %}
      </select>
    </li>
  {% endif %}
  </ul>
</div>
{% endfor %}

<h2>Ressources</h2>
<ul>
{% for key, resource in resources %}
    <li>{{ resource.qty }} {{ resource.icon }}</li>
{% endfor %}
</ul>
